.top {
  position: absolute;
  z-index: 80;
  top: 0;
  width: 128px;
  height: 46px;
  touch-action: none;
  cursor: ns-resize;
}
.left {
  left: 0;
}
.right {
  right: 0;
}

.bottom {
  position: absolute;
  z-index: 80;
  left: 0;
  right: 0;
  bottom: 0;
  height: 26px;
  display: grid;
  place-items: center;
  touch-action: none;
  cursor: ns-resize;
}

.indicator {
  width: 134px;
  height: 5px;
  border-radius: 3px;
  opacity: 0.85;
  transition: background 0.3s;
}
